.yourRentalsSections {
  padding: 5%;
  padding-top: 10%;
  height: 90vh;
}

.yourRentals {
  height: 75vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}