.yourRentalsSections {
  padding: 5%;
  padding-top: 10%;
  height: 90vh;
}

.yourRentals {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 60em) {
  .yourRentalsSections {
    padding: 5%;
    padding-top: 20%;
  }
} 

@media screen and (max-width: 40em) {
  .yourRentalsSections {
    padding-top: 25%;
  }
} 